@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>



<div>
    <p>Welcome to the Joel Hilton Film Collection page--the one-stop shop for Joel's very impressive collection of movie reviews</p>

    <br /><br />

    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>